@import "src/assets/styles/mixins.scss";

.amount-of-credit-form {
  max-width: 481px;
  max-height: 290px;
  background: #FFFFFF;
  border-radius: 24px;
  color: black;
  padding: 20px;
  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 42px;
    align-items: center;
    &-percent {
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 109.1%;
      text-align: center;
      letter-spacing: 0.01em;
      color: #8899B4;
    }
  }
  &__title {
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    margin-bottom: 25px;
  }
}

.credit-form-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 10px;
  &__left {
    margin-bottom: 20px;
    &-text {
      font-family: SF Pro Display, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #8899B4;
      margin-top: 4px;
    }
    &-prices {
      font-family: SF Pro Display, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #8899B4;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  }
}