@import "src/assets/styles/mixins.scss";

.amount-of-credit-form {
  max-width: 485px;
  max-height: 300px;
  background: #FFFFFF;
  border-radius: 24px;
  color: black;
  padding: 33px;
  margin-right: -20px;
  margin-top: -7px;
  box-shadow: 0 271px 108px rgba(52, 61, 85, 0.01), 0 152px 91px rgba(52, 61, 85, 0.03), 0 68px 68px rgba(52, 61, 85, 0.04), 0 17px 37px rgba(52, 61, 85, 0.05), 0 0 0 rgba(52, 61, 85, 0.05);
  &__bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 42px;
    align-items: center;
    &-percent {
      @include manrope-font;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 109.1%;
      text-align: center;
      letter-spacing: 0.01em;
      color: #8899B4;
    }
  }
  &__title {
    @include background-clip;
    font-family: SF Pro Display, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
    margin-bottom: 25px;
    text-align: left;
    margin-top: -15px;
    margin-left: -11px;
  }
}

.credit-form-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 10px;
  &__left {
    margin-bottom: 20px;
    &-text {
      font-family: SF Pro Display, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #8899B4;
      margin-top: 4px;
      //visibility: hidden; // TODO: скрыто
    }
    &-prices {
      font-family: SF Pro Display, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 16px;
      letter-spacing: 0.01em;
      color: #8899B4;
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  }
}