.broadcast-block {
  color: #1A1D25;
  background: linear-gradient(107.62deg, #F3F6FF 0%, #BFCEE2 100%);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 276px;
  padding: 50px 0 50px 0;
}