@import "src/assets/styles/mixins.scss";

.reviews-block {
  display: flex;
  flex-direction: column;
  color: black;
  background: white;
  width: 100%;
  &-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 160px;
    margin-right: 160px;
    &__title {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 55px;
      letter-spacing: 0.01em;
      color: #262B40;
      margin-bottom: 25px;
      margin-top: 80px;
    }
    &__buttons-reviews {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}

.buttons-reviews {
  display: flex;
  align-items: flex-end;
  margin-bottom: 25px;
  &__button {
    height: 35px;
    width: 35px;
    transition: .3s ease-in-out;
    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}

@include _1300 {
  .reviews-block {
    &-top {
      margin-left: 1%;
      margin-right: 4%;
    }
  }
}