@import "src/assets/styles/mixins.scss";

.broadcast-credit-banner__img {
  width: 100%
}

@include _1300 {
  .broadcast-credit-banner__img {
    max-width: 530px;
    padding-left: 2%;
    padding-right: 2%;
  }
}