@import "src/assets/styles/mixins.scss";

.how-it-works-list-card {
  color: black;
  position: relative;
  width: 360px;
  height: 282px;
  background: #141927;
  border-radius: 24px;
  &__img {
    position: absolute;
    left: 13%;
    bottom: 50%;
    height: 270px;
    width: 270px;
  }
  &-text {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      @include manrope-font;
      font-style: normal;
      font-weight: 500;
      font-size: 31px;
      margin-top: -10px;
      margin-bottom: 11px;
      line-height: 33px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
    }
    &__desc {
      @include manrope-font;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #848BA4;
      display: flex;
      flex-wrap: wrap;
      word-break: break-word;
    }
    &__spec-word {
      @include manrope-font;
      @include background-clip;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      letter-spacing: 0.01em;
      background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
    }
  }
}

@include _1300 {
  .how-it-works-list-card {
    height: 115px;
    &-text {
      margin-top: 18px;
      margin-left: 53px;
    }
    &__img {
      left: -18%;
      bottom: -7px;
      height: 130px;
      width: 130px;
    }
  }
}

@include _575 {
  .how-it-works-list-card {
    height: fit-content;
    &-text {
      margin-left: 110px;
      margin-top: 5px;
      margin-bottom: 5px;
      padding-right: 1%;
      &__title {
        font-size: 1rem;
      }
      &__desc {
        padding-left: 3%;
        font-size: 0.8rem;
      }
      &__spec-word {
        font-size: 1rem;
      }
    }
    &__img {
      left: -2%;
      bottom: -18px;
    }
  }
}