@import "src/assets/styles/mixins.scss";

.button {
  border-radius: 16px;
  padding: 7px 7px;
  width: 100%;
  font-family: Manrope, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: .3s ease-in-out;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  &:hover {
    transform: scale(1.001);
    cursor: pointer;
  }
  &_black {
    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
  }
  &_blue {
    background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
  }
}

@include _575 {
  .button {
    font-size: 0.65rem;
  }
}

@include _480 {
  .button {
    font-size: 0.5rem !important;
  }
}

@include _380 {

}

@include _480 {
  .button {
    font-size: 0.6rem;
    padding-top: 2px;
    padding-bottom: 2px;
  }
}