.button {
  border-radius: 16px;
  padding: 14px 20px;
  width: 100%;
  font-family: Manrope, serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #FFFFFF;
  transition: .3s ease-in-out;
  border: none;
  &:hover {
    transform: scale(1.03);
    cursor: pointer;
  }
  &_black {
    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
  }
  &_blue {
    background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
  }
}