@import "src/assets/styles/mixins.scss";

.how-it-works {
  height: 430px;
  width: 100%;
  background: #e8ebec;
  padding-top: 330px;
}

@include _1300 {
  .how-it-works {
    padding-top: 380px;
    height: 581px;
  }
}

@include _767 {
  .how-it-works {
    padding-top: 400px;
  }
}

@include _575 {
  .how-it-works {
    padding-top: 440px;
  }
}

@include _480 {
  .how-it-works {
    padding-top: 492px;
  }
}