@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/App';

.app-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  animation: .5s show ease;
  position: relative;
  &__label {
    font-family: Neue Machina, serif;
    font-weight: 400;
    font-size: 14px;
    color: $pale-sky;
    &_empty {
      height: 14px;
    }
  }
  .req {
    color: $red
  }
  .no-req {
    display: none;
  }
  &__with-icon {
    &_left {
      padding: 5px 10px 5px 40px !important;
    }
    &_right {
      padding: 5px 40px 5px 10px !important;
    }
  }
  &__input {
    padding: 5px 15px;
    font-family: Roboto, serif;
    max-height: 44px;
    background: $desert-storm;
    border: 1px solid $platinum;
    border-radius: 14px;
    font-size: 18px;
    &_big {
      height: 52px;
      max-height: 52px;
      padding-left: 36px;
    }
    &_white {
      background: $white;
    }
    &_disabled {
      color: $nobel;
    }
  }
}

.input {
  &__error-text {
    color: $red;
    font-size: 12px;
  }
  &-wrapper {
    position: relative;
    display: flex;
  }
  &-with-icon {
    cursor: pointer;
    position: absolute;
    right: 4px;
    height: 30px;
    width: 30px;
    top: 3px;
    &__left {
      top: 5px;
      height: 25px;
      width: 25px;
      left: 4px;
      input {
        padding-left: 40px !important;
      }
      &_big {
        top: 12px;
        left: 5px;
      }
    }
  }
}

.eye-icon {
  position: absolute;
  right: 1%;
  top: 29px;
  cursor: pointer;
  height: fit-content;
  width: 30px;
  border: none;
  background: transparent;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input[type="text"]::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}

