@import 'src/assets/styles/colors';
@import 'src/assets/styles/mixins';
@import 'src/assets/styles/app';

.app-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  animation: .5s show ease;
  position: relative;
  &__label {
    font-family: 'Manrope', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.01em;
    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    &_blue {
      font-family: 'Manrope', serif;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.01em;
      background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
    &_empty {
      height: 14px;
    }
  }
  .req {
    color: $red
  }
  .no-req {
    display: none;
  }
  &__with-icon {
    &_left {
      padding: 5px 10px 5px 40px !important;
    }
    &_right {
      padding: 5px 40px 5px 10px !important;
    }
  }
  &__input {
    padding: 5px 15px;
    font-family: Manrope, serif;
    max-height: 44px;
    background: $desert-storm;
    border: 1px solid $platinum;
    border-radius: 14px;
    font-size: 18px;
    color: #6c6c6c;
    &_big {
      height: 52px;
      max-height: 52px;
      padding-left: 36px;
    }
    &_white {
      background: $white;
    }
    &_disabled {
      color: $nobel;
    }
  }
}

.input {
  &__error-text {
    color: $red;
    font-size: 12px;
  }
  &-wrapper {
    position: relative;
    display: flex;
  }
  &-with-icon {
    cursor: pointer;
    position: absolute;
    right: 4px;
    height: 30px;
    width: 30px;
    top: 3px;
    &__left {
      top: 5px;
      height: 25px;
      width: 25px;
      left: 4px;
      input {
        padding-left: 40px !important;
      }
      &_big {
        top: 12px;
        left: 5px;
      }
    }
  }
}

.eye-icon {
  position: absolute;
  right: 1%;
  top: 29px;
  cursor: pointer;
  height: fit-content;
  width: 30px;
  border: none;
  background: transparent;
}

input::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

input[type="text"]::-ms-clear {
  display: none;
}

input[type="password"]::-ms-reveal {
  display: none;
}

