@import "src/assets/styles/mixins.scss";

.loan-block-card {
  background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
  border-radius: 40px;
  max-width: 1200px;
  width: 100%;
  height: 367px;
  margin-left: 160px;
  display: flex;
  flex-direction: row;
  position: relative;
  &-left {
    padding-top: 68px;
    padding-left: 95px;
    &__title {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 600;
      font-size: 40px;
      line-height: 55px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
    }
    &__desc {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 33px;
      letter-spacing: 0.01em;
      color: #FFFFFF;
      max-width: 275px;
      width: 100%;
      margin-bottom: 25px;
    }
  }
  &-right {
    &__img {
      position: absolute;
      bottom: -50px;
      right: 45px;
      height: 480px;
      width: 480px;
      border-radius: 50%;
    }
  }
}

@include _1300 {
  .loan-block-card {
    margin-left: 2%;
  }
}