.reviews-list-card {
  background: linear-gradient(107.56deg, #F4F6F8 0%, #F8FBFF 100%);
  border: 1px solid #E7ECF4;
  border-radius: 24px;
  min-width: 320px;
  min-height: 218px;
  flex-wrap: nowrap;
  padding: 25px;
  &-top {
    display: flex;
    flex-direction: row;
    gap: 20px;
    &__img {}
    &-head {
      &__text {
        font-family: Manrope, serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.01em;
        color: #141927;
        margin-bottom: 5px;
        &_blue {
          background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          background-clip: text;
          text-fill-color: transparent;
        }
      }
      &__date {
        font-family: SF Pro Display, serif; // TODO: Добавить шрифт
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.01em;
        color: #8899B4;
      }
    }
  }
  &-bottom {
    margin-top: 20px;
    font-family: Manrope, serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #141927;
  }
}