@import "src/assets/styles/mixins.scss";

.reviews-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 20px;
  margin-left: 199px;
  padding-bottom: 20px;
  scroll-behavior: smooth;
  height: fit-content;
  overflow: scroll;
  @supports (scrollbar-gutter: stable) {
    overflow: auto;
    scrollbar-gutter: stable;
  }
}

.reviews-list::-webkit-scrollbar {
  visibility: hidden;
}

.reviews-list::-webkit-scrollbar-thumb {
  visibility: hidden;
}

@include _1300 {
  .reviews-list {
    margin-left: 1%;
  }
}