@import 'src/assets/styles/mixins';

.select-group {
  display: flex;
  flex-direction: column;
  &__label {
    @include manrope-font;
    @include background-clip;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.01em;
    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
  }
  &__selects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #C6D1E1;
    border-radius: 16px;
    color: #1A1D25;
  }
}