@import "src/assets/styles/mixins.scss";

.mobile-menu {
  background: #F8F8F8;
  margin: 1% 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  padding-left: 20px;
  padding-right: 20px;
  &-modal {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
    margin-left: 20px;
    margin-right: 20px;
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    padding: 15px 20px 50px 20px;
    width: 100%;
    &__item {
      font-family: Gilroy, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 2rem;
      line-height: 110%;
      color: #1A1D25;
      border: none;
      background: transparent;
      transition: .3s ease-in-out;
      cursor: pointer;
      margin: 0;
      padding: 0;
      &:hover {
        transform: scale(1.03);
      }
      &_active {
        color: #002DCE;
      }
    }
  }
}

@include _767 {
  .mobile-menu {
    &-list {
      &__item {
        margin: 0 auto;
      }
    }
  }
}