@import "src/assets/styles/mixins.scss";

.advantages-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin-bottom: 70px;
  margin-top: 15px;
  color: black;
}

@include _1300 {
  .advantages-list {
    grid-template-columns: repeat(2, 1fr);
  }
}