@import "src/assets/styles/mixins.scss";

.tariffs {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  width: 100vw;
  height: 1000px;
  padding-top: 85px;
  padding-bottom: 144px;
}

@include _1300 {
  .tariffs {
    padding-bottom: 680px;
  }
}

@include _767 {
  .tariffs {
    padding-top: 25px;
    padding-bottom: 250px;
  }
}

@include _480 {
  .tariffs {
    padding-bottom: 90px;
  }
}