@import 'src/assets/styles/mixins';

.uploader {
  margin-bottom: 20px;
  margin-top: 20px;
  &-text {
    &__title {
      @include manrope-font;
      @include background-clip;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.01em;
      background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
    }
    &__formats {
      @include manrope-font;
      @include background-clip;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
    }
  }
}