@import "src/assets/styles/mixins.scss";

.tariffs-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 20px;
}

@include _1300 {
  .tariffs-list {
    align-items: center;
    justify-content: center;
  }
}

@include _767 {
  .tariffs-list {
    margin-right: 2%;
    margin-left: 2%;
    gap: 20px;
  }
}