.header {
  background: #FFFFFF;
  padding-top: 19px;
  padding-bottom: 19px;
  padding-left: 200px;
  &__company {
    font-family: Gilroy, serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #262B40;
    letter-spacing: .05em;
  }
}