.footer-search-block {
  display: grid;
  grid-template-columns: 1fr 2fr;
  &__right {
    margin-top: 13px;
  }
  &__left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-number {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 55px;
      letter-spacing: 0.07em;
      color: #FFFFFF;
      border-bottom: 1px dotted white;
      margin-bottom: 6px;
      padding-bottom: 6px;
    }
    &-desc {
      font-family: Manrope, serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      letter-spacing: 0.01em;
      color: #8899B4;
    }
  }
}