@import "src/assets/styles/mixins.scss";

.broadcast-list {
  &__title {
    @include manrope-font;
    @include background-clip;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    letter-spacing: 0.01em;
    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
    justify-content: flex-start;
    display: flex;
    margin-left: 170px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    margin-left: 170px;
    margin-top: 20px;
    gap: 30px;
  }
}

@include _1300 {
  .broadcast-list {
    &__title {
      margin-left: 0;
      justify-content: center;
    }
    &__list {
      margin-left: 0;
      align-items: center;
    }
  }
}

@include _767 {
  .broadcast-list {
    margin-left: 2%;
    margin-right: 2%;
    &__title {
      text-align: center;
    }
  }
}

@include _575 {
  .broadcast-list {
    &__title {
      text-align: left;
    }
    &__list {
      align-items: flex-start;
    }
  }
}