@import "src/assets/styles/mixins.scss";

.tariffs-list-card {
  color: black;
  border-radius: 24px;
  padding-top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  &__title {
    @include manrope-font;
    padding-bottom: 19px;
    margin-top: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 33px;
    letter-spacing: 0.01em;
    &_basic {
      color: #262B40;
    }
    &_standard {
      color: #FFFFFF;
    }
    &_premium {
      color: #FFFFFF;
    }
  }
  &-bottom {
    margin-top: 27px;
    margin-bottom: 20px;
    &__mob-title {
      display: none;
    }
    &__button {
      margin: 20px 25px 9px;
      padding-top: 4px;
    }
    &__text {
      @include manrope-font;
      color: #848BA4;
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.01em;
      &_blue {
        @include manrope-font;
        color: #11346A;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
      }
      &_white {
        @include manrope-font;
        color: white;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
      }
    }
    &__numbers {
      margin-bottom: 20px;
      &-number {
        @include manrope-font;
        color: #005CEA;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 33px;
        letter-spacing: 0.01em;
        &_white {
          @include manrope-font;
          color: #FFFFFF;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 33px;
          letter-spacing: 0.01em;
        }
      }
    }
  }
  &_basic {
    background: linear-gradient(107.62deg, #F3F6FF 0%, #DDE8F8 100%);
  }
  &_standard {
    background: linear-gradient(90.74deg, #0F6DFF 0%, #005CEA 100%);
  }
  &_premium {
    background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
  }
}

@include _1300 {
  .tariffs-list-card {
    flex-direction: row;
    padding-left: 0;
    padding-top: 0;
    &-bottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      &__numbers {
        margin-bottom: 5px;
      }
      &__mob-title {
        @include manrope-font;
        display: flex;
        font-style: normal;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #262B40;
        justify-content: center;
        margin-bottom: 10px;
        &_basic {
          color: #262B40;
        }
        &_standard {
          color: #FFFFFF;
        }
        &_premium {
          color: #FFFFFF;
        }
      }
    }
    &__title {
      display: none;
    }
  }
}

@include _767 {
  .tariffs-list-card {
    &-bottom {
      margin-bottom: 0;
      margin-top: 0;
      &__button {
        margin-bottom: 0;
      }
    }
    &__img {
      max-height: 200px;
      width: inherit;
    }
  }
}

@include _480 {
  .tariffs-list-card {
    &-bottom {
      font-size: 0.4rem;
      &__text {
        font-size: 0.8rem;
        &_blue {
          font-size: 0.8rem;
        }
        &_white {
          font-size: 0.8rem;
        }
      }
      &__button {
        margin-top: 0;
      }
      &__numbers {
        margin-bottom: 0;
      }
      &__mob {
        &-title {
          font-size: 1rem;
          margin-bottom: 0;
        }
      }
    }
    &__img {
      max-height: 130px;
    }
  }
}