.how-to-get {
  color: #1A1D25;
  min-height: 100vh;
  text-align: center;
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 40px;
  }
}