@import 'src/assets/styles/mixins';

.how-to-get {
  color: #1A1D25;
  min-height: 100vh;
  text-align: center;
  &__conditions-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-top: 72px;
    &-item {
      display: flex;
      gap: 15px;
      &-title {
        white-space: pre;
      }
    }
  }
  &__steps {
    display: flex;
    flex-direction: column;
    background: #F3F6FF;
    border-radius: 24px;
    padding: 30px;
    gap: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    &-item {
      display: flex;
      align-items: center;
      gap: 15px;
    }
  }
  &-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    max-width: 1200px;
    margin: 0 auto;
    &-left {
      text-align: left;
      &__title {
        @include manrope-font;
        @include background-clip;
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 55px;
        letter-spacing: 0.01em;
        background: linear-gradient(153.6deg, #222738 0%, #101420 100%);
      }
      &__text {
        @include manrope-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #8899B4;
      }
      &__info-block {
        @include manrope-font;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        letter-spacing: 0.01em;
        color: #8899B4;
        background: #F3F6FF;
        border-radius: 24px;
        padding: 30px;
        margin-top: 25px;
      }
      &__requirements-list {
        display: flex;
        flex-direction: column;
        margin-top: 25px;
        margin-bottom: 25px;
        background: #F3F6FF;
        border-radius: 24px;
        padding: 30px;
        gap: 25px;
        &-item {
          display: flex;
          align-items: center;
          gap: 15px;
        }
      }
    }
  }
}